<div class="sidebar-nav">
    <ul id="list" class="nav nav-list ">

        <li class="menu-item" id="menu4"><a href="/publisher/assets/statistics/webapp/">Overall Subscriptions</a></li>
        <li class="menu-item" id="menu5"><a href="/publisher/assets/app_sub_user/webapp/">Apps Subscribed By User </a></li>
        <li class="menu-item" id="menu1"><a href="/publisher/assets/apps/webapp/">Usage by App</a></li>
        <li class="menu-item" id="menu2"><a href="/publisher/assets/response-time/webapp/">Response Time</a></li>
        <li class="menu-item" id="menu3"><a href="/publisher/assets/usage-page/webapp/">Usage By Page</a></li>
        <li class="menu-item" id="menu7"><a href="/publisher/assets/app-by-endpoint/webapp/">Apps by End Point</a></li>
        <li class="menu-item" id="menu8"><a href="/publisher/assets/app-by-popularity-over-time/webapp/">Apps by Popularity Over Time</a></li>




        {{#each leftNavLinks}}
            <li class="{{this.additionalClasses}}"><a href="{{this.url}}">
                {{#if this.iconClass}}
                    <i class="{{this.iconClass}}"></i>
                {{/if}}
                {{this.name}}</a></li>
        {{/each}}
    </ul>
</div>
