<!-- Modal -->
<div id="policy-group-editor" class="modal fade" role="dialog" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close mclose-button" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h3>Resource Policy</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger alert-dismissible" role="alert" id="policyGroup-notification-text">
                    <button type="button" class="close" data-dismiss="alert"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <span id="policyGroup-notification-text-data"></span>
                </div>

                <div class="form-group">
                    <label id="lblPolicyGroupName">Resource policy name:</label>
                    <input id="policyGroupName" type="text" class="form-control" value="Default"/>
                </div>

                <div class="form-group">
                    <label id="lblpolicyGroupDescription">Description:</label>
                    <input id="policyGroupDescription" type="text" class="form-control"/>
                </div>

                <div class="form-group">
                    <label id="lblThrottlingTier">Apply Throttling Tier: </label>
                    <select id="throttlingTier"></select>
                </div>

                <div class="form-group">
                    <label id="lblAnonymousAccessToUrlPattern">Allow Anonymous Access:</label>
                    <select id="anonymousAccessToUrlPattern">
                        <option value='false' id='False'>False</option>
                        <option value='true' id='True'>True</option>
                    </select>
                    </select>
                </div>

                <div class="form-group authPolicies">
                    <label id="lblUserRoles">Accessible User Roles:</label>
                    <input id="userRoles" type="text" class="form-control"/>
                    <i class="icon-search icon-2 group-role-search"></i>
                </div>

                <div class="form-group">
                    <label>Entitlement Policy : </label>
                    <select id="xacml-rule">
                        <option value='-1'>None</option>
                    </select>
                </div>                    

            </div>
            <div class="modal-footer">
                <a id="btn-policy-group-save" class="btn btn-primary">Save</a>
                <a id="btn-policy-group-save-and-close" class="btn btn-primary">Save & Close</a>
                <a class="btn mclose-button" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>

</div>


<style>

    .CodeMirror {
        border: 1px solid #eee;
    }

</style>