<input type="hidden" id="page" value="2">
<div class="content-div">
    <div class="row-fluid">
        <div class="row">
            <div class="pull-left heading" align="left"><h1>Web Application Statistics - Response Time</h1></div>
        </div>
        <div class="row">
            <div class="col-md-2 left-nav">
                {{>left-nav}}
            </div>
            <div class="col-md-10 asset-view-container">
                <div>
                    <div id="rangeSliderWrapper" class="well" style="display: none">
                        <div class="row-fluid">
                            <div id="dateRangePickerContainer">
                                <div class="btn-group" role="group">
                                    <button id="hour-btn" type="button" class="btn btn-default date-range">Hour</button>
                                    <button id="today-btn" type="button" class="btn btn-default date-range">Today
                                    </button>
                                    <button id="week-btn" type="button" class="btn btn-default date-range">Week</button>
                                    <button id="month-btn" type="button" class="btn btn-default date-range active">
                                        Month
                                    </button>
                                    <button id="date-range" type="button" class="btn btn-default date-range last-child"
                                            data-toggle="popup" title="Click to set custom date range">
                                    </button>
                                </div>
                                <span class="add-on-cal"><i style="margin-right:0px;" class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="widget">
                    <div class="widget-content">
                        <div id="spinner" class="center-wrapper">
                            <i id="icon-spinner" class="icon-spinner icon-spin icon-4x"></i>
                        </div>
                        <div class="graph-container widget-table">
                            <div id="placeholder4" class="graph-placeholder"></div>
                        </div>
                        <div class="graph-container  widget-graph">
                            <div id="placeholder41" class="graph-placeholder"></div>
                        </div>
                    </div>
                    <div id="chartContainer">
                        <div id="displayMsg" style="height:20px;margin-bottom:5px;"></div>
                        <div id="checkboxContainer" style="max-width:100%; margin-top:30px;"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="backdrop"></div>