<input type="hidden" id="page" value="3">
<div class="content-div">
    <div class="row-fluid">
        <div class="row">
            <div class="pull-left heading" align="left"><h1>Web Application Statistics - Usage by Page</h1></div>
        </div>
        <div class="row">
            <div class="col-md-2 left-nav">
                {{>left-nav}}
            </div>
            <div class="col-md-10 asset-view-container">

                <div>
                    <div id="rangeSliderWrapper" class="well">
                        <div class="row-fluid">
                            <div id="dateRangePickerContainer">
                                <div class="btn-group" role="group">
                                    <button id="hour-btn" type="button" class="btn btn-default date-range">Hour</button>
                                    <button id="today-btn" type="button" class="btn btn-default date-range">Today
                                    </button>
                                    <button id="week-btn" type="button" class="btn btn-default date-range">Week</button>
                                    <button id="month-btn" type="button" class="btn btn-default date-range active">
                                        Month
                                    </button>
                                    <button id="date-range" type="button" class="btn btn-default date-range last-child"
                                            data-toggle="popup" title="Click to set custom date range">
                                    </button>
                                </div>
                                <span class="add-on-cal"><i style="margin-right:0px;" class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="dateLabel" style="margin-left:90px;font-size: 16px;color: #828282;">click on bars to view breakdown of requests per page</div>
                <div class="widget">

                    <div class="clearfix"></div>

                    <div class="widget-head" style="display: none">

                        <div class="pull-left">{{t "Usage by Page"}}</div>
                        <div class="widget-controls">
                            <a href="#" class="btn-remove"><i class="icon icon-remove"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">


                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="col-md-12">

                                    <div id="spinner" class="center-wrapper">
                                        <i id="icon-spinner" class="icon-spinner icon-spin icon-4x"></i>
                                    </div>
                                    <div class="graph-container widget-graph pull-left clearfix">
                                        <div id="placeholder51" class="graph-placeholder"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graph-container widget-graph2" style="padding:30px 50px 30px 50px">
                        <div class="pull-right" style="font-size:14px">
                            Version : <select id="items"></select>
                        </div>
                            <div id="placeholder52" class="graph-placeholder" style="margin-top:40px"></div>


                        </div>
                        <div id="chartContainer">
                            <div id="displayMsg" style="height:20px;margin-bottom:5px;"></div>
                            <div id="checkboxContainer" style="max-width:100%; margin-top:30px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="backdrop"></div>