<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="am-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="Test - APPmanager" preserve-order="true" parallel="false">
        <packages>
            <!--<package name="org.wso2.carbon.registry.search.metadata.test.old"/>-->
        </packages>

        <classes>
            <!--
            This test case will be use to test usage metering with BAM/ Run BAM server as instructed in stats TestCases
            with port offset one. Then enable this test. This will take some time as it take time to generate summery
            -->
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.AppCreateAndPublishTestCase"/>
            <!--<class name="org.wso2.carbon.appmanager.integration.ui.TestCases.RuntimeStatisticsTestCase"/>-->
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.SAMLtoBackendTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.JWTGenerationTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.ResourceAuthXCMLTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.ThrottlingTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.TagsTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.ResourceAuthRolesTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.LifeCycleTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.SSOTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.SSOutTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.AppDeleteTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.MultiTenantTestCase"/>
            <!--<class name="org.wso2.carbon.appmanager.integration.ui.TestCases.SelfSignUpTestCase"/>-->
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.DocumentTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.GoogleAnalyticsTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.RatingTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.AppDiscoveryTestCase"/>
            <class name="org.wso2.carbon.appmanager.integration.ui.TestCases.AppDiscoveryUITestCase"/>
            <!--This test case is not run with default APP manager integration tests. To run this test we assume that
            BPS server  is  running with port offset 2 and all the configurations are done to the BPS as mentioned in
            the work flow extension  doc-->
            <!--class name="org.wso2.carbon.appmanager.integration.ui.TestCases.WorkFlowTestCase"/-->
        </classes>
    </test>
    <!--test name="Rest Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.am.tests.rest"/>
        </packages>
    </test-->
</suite>
