.asset-details:hover {
	cursor: pointer;
}
/*
.row-border-bottom {
	border-bottom: 1px solid #F3F3F3;
	margin-bottom: 16px;
	padding-bottom: 23px;
}*/

.empty-assert {
	font-size: 18px;
	margin: 20px 0;
	text-align: center;
	padding-top: 125px;
	padding-bottom: 125px;
    background: #efefef;
}
.store-bookmark-icon{
    	color: #FFED00;
    	font-size: 30px;
    	position: absolute;
    	right: 10px;
    	top: -4px;
    	z-index: 1;
    	text-shadow:1px 1px #848484;
}

.loading-inf-scroll{
    background:url('../img/preloader-40x40.gif') no-repeat top center;
    width:100%;
    height:50px;
    display:none;
}

.ribbon-wrapper-green {
    font-family: "Open Sans";
    font-size: 12px;
    width: 88px;
    height: 122px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: -3px;
    z-index: 99;
}

.ribbon-green {
    font: bold 12px "Open Sans";
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}