.store-mobileapp-icon{
    color: #34495E;
    font-size: 30px;
    position: absolute;   
    top: -4px;
    z-index: 1;
    text-shadow:1px 1px #848484;
}

.img-store-mobile{
    max-height: 299px;
    max-width: 580px;
}



#btn-ent-install {
    display: inline-block;
    margin-top: 0;
}


.install-uninstall-panel{
    margin-top: 32px;
}




#modal-ent-install .modal-body{
    max-height: 800px;
}


/** PAGINATION **/

