<div class="row row-footer">
    <div class="col-md-6">
        <span> &copy; 2014 WSO2 Inc. All Rights Reserved.</span>
    </div>
    <div class="col-md-5 pull-right txt-right">
        <ul>

            <li>

                <a target="_blank"  href="http://wso2.com/products/app-manager/" class="powered-by-logo"></a>
            </li>
        </ul>

    </div>
</div>
