#dateRangePickerContainer .date-range, #dateRangePickerContainer .input-append {
    background: none !important;
}
#rangeSliderWrapper1{
    height: 47px;
    position: relative;
}
#rangeSliderWrapper1 #rangeSlider{
    position: relative;
    top: 40px;
    width:96%;
    left:10px;

}

#dateRangePickerContainer{
    float:right;
    margin-top: 4px;
}
.well{
    padding: 6px !important;
}
.date-picker-wrapper > .footer {
    display: none;
}

input.apply-btn {
    height: 32px;
}
.date-range{
    height: 39px;

}

#date-range{
    min-width: 300px;
}

.date-picker-wrapper {
    margin: 4px 16px;
}

#pagination{
    float: right;
}
.no-data-heading{
    text-align: center;
    margin-top: 120px;
}
.center-wrapper{
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
    text-align:center;
    padding-top: 150px;
}
