<div id="publisher_footer" class="">
    <div class="copyright-note">
    	<a target="_blank" href="http://wso2.com" class="logo-wso2"></a>
    	<span>&copy; {{t "2013"}}</span>
    	<div class="version">v1.0.0</div>
    </div>
    
</div>
