<div id="enterpriseSubscriptionManagementPanel" style="display:none">
	
	{{#with subscriptionInfo}}
		
		{{#if viewData}}
		<div id="enterprises">
			{{#viewData}}
				<label class="enterprise-entry"><input id="checkboxEnterprise_{{enterprise}}" name="{{enterprise}}" type="checkbox" {{#if subscribed}}checked="checked"{{/if}}/>{{enterprise}}</label>
			{{/viewData}}
	    </div>

	    <div id="enterpriseSubscriptionActions">
	    	<a id="btnSaveEnterpriseSubscriptions" href="#" class="btn btn-primary">Save</a>
	    </div>
	    {{else}}
	    	<div class="no-enterprises">
	    		No enterprises available.
	    	</div>
	    {{/if}}
    {{/with}}
</div>