{{#if user}}
<div class="row">
    <div class="span3">
           <h4><a href="{{url "/subscriptions"}}/{{type}}" class="my-assets-link"><i class="icon-bookmark"></i>My {{title}} <i class="icon-angle-right pull-right"></i></a></h4>
    </div>
</div>
<hr>
{{/if}}
