<div>
    {{#with apiData.serverURL}}
    <legend>URLSs:</legend>

    <p><b>{{description}}</b></p>
    <ul>
        <li><a class='icon-globe'></a> {{sandboxURL}}</li>
        <li><a class='icon-wrench'></a>{{productionURL}}</li>
    </ul>
    {{/with}}
</div>

