<div>
    {{#with apiData.serverURL}}
    <legend>URLs:</legend>

    <p><b>{{description}}</b></p>
    <ul>
        <li><a class='icon-globe' href="{{productionURL}}" target="_blank" >&nbsp;{{productionURL}}</a></li>
    </ul>
    {{/with}}
</div>

