<script>var target = '{{id}}'; var user = '{{user}}';</script>

{{#unless isLogged}}
<div class="com-guest">
	Please Sign In to add a review
</div>
{{/unless}}

<div class="row com-stream">
	
	<div class="row com-sort {{#unless reviews}}com-sort-hidden{{/unless}}">
		<ul>
			<li>
				<a href="#" id="newest">Newest</a>
			</li>
			<li>
				<a href="#">Oldest</a>
			</li>
			<li>
				<a href="#" class="selected">Popular</a>
			</li>
		</ul>
	</div>

	<div id="stream">
		{{#if reviews}}
			{{#each reviews}}
				{{> activity}}
			{{/each}}
		{{else}}
			{{#if isLogged}}
			<p class="com-first-review">
				Be the first one to review!
			</p>
			{{/if}}
		{{/if}}
	</div>
</div>

