<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ASTestSuite" parallel="false">
    <parameter name="useDefaultListeners" value="false"/>

    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>


    <test name="AppM-UI-tests" parallel="false" verbose="2">
        <classes>
            <class name="org.wso2.appmanager.integration.test.cases.PublisherLoginTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.StoreLoginTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.PublisherLogoutTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.StoreLogoutTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.WebAppSubscribeTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.RetrieveAppPropertyTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.RatingTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.edit.EditWebAppInCreatedStatusTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.edit.EditWebAppInReviewStatusTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.edit.EditWebAppInApprovedStatusTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.edit.EditWebAppInRejectedStatusTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.edit.EditWebAppInPublishedStatusTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.edit.EditWebAppInUnPublishedStatusTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.edit.EditWebAppInDeprecatedStatusTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.edit.EditWebAppInRetiredStatusTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.lifecycle.management.ApproveWebAppTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.lifecycle.management.CreateWebAppTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.lifecycle.management.DeprecateWebAppTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.lifecycle.management.PublishWebAppTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.lifecycle.management.RecycleWebAppTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.lifecycle.management.RejectWebAppTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.lifecycle.management.RepublishWebAppTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.lifecycle.management.RetireWebAppTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.lifecycle.management.UnpublishWebAppTestCase"/>
            <class name="org.wso2.appmanager.integration.test.cases.publisher.webapp.lifecycle.management.WebAppSubmitForReviewTestCase"/>

        </classes>
    </test>


</suite>
