<div id="footer">
<div class="container">
    <div class="row row-footer">
        <div class="span6">
            <span> &copy; {{t "2015 WSO2 Inc. All Rights Reserved."}}</span>
        </div>
        <div class="span6 pull-right txt-right">
            <ul>

                <li>

                    <a class="powered-by-logo" href="http://wso2.com/products/app-manager/" target="_blank"></a>
                </li>
            </ul>

        </div>
    </div>

</div>
</div>