<div id="container-search" class="container">
	<div class="row">
		<div class="span12 search-bar">
			<div class="row-fluid">
				<div class="span9">
                    <h1>
                        {{#itr assets}}
                        {{#if value.selected}} {{value.title}}{{/if}}
                        {{/itr}}
                    </h1>
				</div>
                {{#if search}}
                    <div class="span3">
                        {{>search}}
                    </div>
                {{/if}}

				<div class="modal fade" id="messageModal" style="display: none"></div>
					<div id="confirmation-data" style="display: none;">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">&times;</button>
						<h3 class="modal-title">Modal header</h3>
					</div>
					<div class="modal-body">
						<table class="msg-table">
						<tbody>
							<tr>
								<td class="imageCell"><i class="icon-big-info"></i></td>
								<td><span class="messageText"></span></td>
							</tr>
						</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-primary">OK</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

