<div class='content-div'>
    <div class="tab-content asset-tab-content">
        <div id="view" class="asset-view-container">

            <div class="row-fluid asset-details-row">
                <div class="span12 asset-content-box">
                    <div class="widget wlightblue">
                        <div class="widget-head">
                            <div class="pull-left">Copy Web app</div>

                            <div class="clearfix"></div>
                        </div>

                        <div class="widget-content">


                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="inputVersion">New Version :</label>
                                    <div class="controls">
                                        <input type="text" id="inputVersion">
                                        <input type="hidden" id="inputId" value="{{data.info.id}}">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <a id="btnCopyApp" href="#" type="submit" class="btn btn-primary">Copy App</a>
                                    </div>
                                </div>
                            </form>






                        </div>




                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




