<div id='{{this.name}}-controls'>

</div>
<table id='{{this.name}}' class='fm-managed' data-use-plugins="UnboundTablePlugin"
       data-columns="{{this.columnNames}}">

    <!--Headings-->
    <tr>
        {{#each this.columnLabels}}
        <th>
            {{this}}
        </th>

        {{/each}}

        <th>
            <!--An empty header for the actions-->
        </th>
    <tr>

    <!--- Field rows-->

        {{#each this.fields}}
    <tr>

        <!--Field columns-->
        {{#each this}}
        <td>
            <!--The field should be rendered here -->
            {{> fields this}}
        </td>
        {{/each}}

        <td>
            <!--The delete button will be populated here-->
            Action!
        </td>
    </tr>
    {{/each}}

</table>
