<div class="sidebar-nav">
        <ul class="nav nav-list ">
            <li class="active prominent-link"><a href="/publisher/">Browse All</a></li>
            <!--<li class="active prominent-link"><a href="#">Add</a></li>-->
            <li class="divider leftnav-divider"></li>
            <li class="dropdown-submenu">
                <a href="#">Categories</a>
                <ul class="dropdown-menu publisher-left-submenu" role="menu">
                    <li><a href="#"><i class="icon-coffee"></i>Java</a></li>
                    <li><a href="#"><i></i>Maven</a></li>
                    <li><a href="#"><i class="icon-coffee"></i>Javascript</a></li>
                    <li><a href="#"><i></i>SOA</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-gamepad"></i>Games</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="icon-dashboard"></i>Statistics</a></li>
            <li><a href="#"><i class="icon-gift"></i>Wishlist</a></li>
        </ul>
    </div>
