<div class="span3">
	<a href='/publisher/asset/{{shortName}}' class="btn btn-addNewAsset" type="button"><i class="icon-plus-sign-alt"></i>{{t "Add New Asset"}}</a>
</div>
<div class="span3 right">
	<input type="text" placeholder="{{t "Search.."}}" id="inp_searchAsset" />
</div>
