/* Entitlement policy editor */
#entitlement-policy-editor .modal-body{
    height: 500px;
}

#entitlement-policy-editor #policy-content-container{
	height: 100%;
}

#entitlement-policy-editor #policy-content{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;   
}

/* expand-collapsible panel */
.wr-section {
    margin-bottom:30px;
}

h2.exp_col i {
    margin-right:5px;

}

#claimTableId {
    margin-top:10px;
}

.resource-table select {
    padding:5px;
}

.table-input td input, .extr-padd5 {
    padding:5px;
}

.border-ovrd {
    border-radius: 0px;
}

.add-on {
    padding-top:5px;
    padding-left:5px;
    display:inline-block;
}


.add-on-cal {
    right: 26px;
    position: absolute;
    top: 14px;
}

.ovrd-padd {
    padding:0px !important;
}

.tbl-upload {
    border:0px solid #fff;
}


.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: left;
}

#searchUserForm{
    float: right;
}


#flot-placeholder{

}
.btn.push-15{
    margin-left:15px;
}