<div class="row com-add">

<!--
	<div class="com-left">
		<img class="img-avatar" src="{{url "/themes/default/img/avatar.png"}}">
	</div>-->

	<div class="com-body-cont">
		<form method="post" id="com-form-post" />
		<div class="clear com-body-wrapper">
			<textarea id="com-body"></textarea>
		</div>
		<div class="row">
			<div class="com-rating-user">
				<span>Rate this asset</span>
				<span class="user-rating" data-rating="2">
					<input class="auto-submit-star" name="star2" type="radio" class="star"
					value="1"/>
					<input class="auto-submit-star" name="star2" type="radio" class="star"
					value="2"/>
					<input class="auto-submit-star" name="star2" type="radio" class="star"
					value="3"/>
					<input class="auto-submit-star" name="star2" type="radio" class="star"
					value="4"/>
					<input class="auto-submit-star" name="star2" type="radio" class="star"
					value="5"/>
				</span>
			</div>
			<div class="txt-right com-post-as">
				<div class="com-alert"></div>
				<button id="btn-post">
					Post Review
				</button>

			</div>
		</div>
		</form>
	</div>
</div>
