<module name="appmgtpublisher" namespace="ns" expose="true" xmlns="http://wso2.org/projects/jaggery/module.xml">    
        <hostObject>
            <className>org.wso2.carbon.appmgt.hostobjects.APIProviderHostObject</className>
            <name>AppMgtProvider</name>
        </hostObject>
</module>

