.header-strip{
    background:#5e5e5e;
    height:10px;
}
.header-back{
    background:transparent url(../images/back.png) no-repeat left top;
    height:105px;
}
.header-text{
    background:#000;
    color: #cccccc;
    font-size:13px;
    padding:20px;
    text-align:center;
}
.header-text strong{
    color:#fff;
    font-size:14px;
}
.logo{
    background:transparent url(../images/logo.png) no-repeat left top;
    width:424px;
    height:105px;
    display:block;
    cursor:pointer;
}
.content-section{
    text-align:center;
    padding:10px 0 0 0;
}
.content-section form.well{
    text-align:left;
}
.btn-primary {
  background-color: #316a90;
  *background-color: #316a90;
  background-image: -ms-linear-gradient(top, #316a90, #4583ac);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#316a90), to(#4583ac));
  background-image: -webkit-linear-gradient(top, #316a90, #4583ac);
  background-image: -o-linear-gradient(top, #316a90, #4583ac);
  background-image: -moz-linear-gradient(top, #316a90, #4583ac);
  background-image: linear-gradient(top, #316a90, #4583ac);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#316a90', endColorstr='#4583ac', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.login-header{
    background:#e86d1f;
    color:#fff;
    padding:5px;

     -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;

    -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;

    margin-top:10px;
}
.form-horizontal .control-label{
    width:80px;
}
.form-horizontal .controls{
    margin-left:100px;
}
.form-horizontal .form-actions{
    padding-left:100px;
    padding-bottom:0;
    margin-bottom:0;
}