/*------FILE UPLOAD-----*/

.fileupload{
	float:left;
}

.fileupload-preview{
	width: 160px;
	height: 240px;
}

.fileupload-preview-icon{
	width: 160px;
	height: 160px;
}

.fileupload-preview-banner{
	width: 512px;
	height: 160px;
}


.right-addon .icon {
    right: 100;
}
.inner-addon .icon {
    padding-left: 10px;
}





